* {
    border: none;
    border-radius: 0px;
    font-family: "jetbrainsmono nerd font propo";
    font-size: 16px;
    font-weight: 700;
    min-height: 0;
    background-color: transparent;
    color: white;
}

waybar#waybar {
}

tooltip {
    background: #24283b;
    color: #A1BDCE;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}

.module {
    padding: 0 8px;
    margin: 4px 4px 0 4px;
    background-color: #24283b;
    border-radius: 8px;
}


#custom-archbutton, #network {
    padding: 0;
    margin-left: 4px;
    margin-right: 4px;
}

#custom-archbutton {
    font-size: 20px;
}

#workspaces {
    font-size: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

#workspaces > * {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
}

#workspaces button:hover {
    background: none;
}

#clock {
    padding: 0 8px;
    margin: 4px 4px 0 4px;
    background-color: #24283b;
    border-radius: 8px;
}

tooltip label {
    font-family: "jetbrainsmono nerd font propo";
    padding: 5px;
    border-radius: 7px;
}
